/* Uso de colores HLS */
/* Aplica un color de fondo HLS a un div */
div.hls-box1 {
    background-color: hsl(0, 100%, 50%); /* Rojo (0°, 100%, 50%) */
    color: white; /* Color de texto blanco */
    padding: 20px; /* Relleno interno de 20px */
    margin-bottom: 10px; /* Espaciado inferior de 10px */
}

/* Aplica un color de fondo HLS a un div */
div.hls-box2 {
    background-color: hsl(120, 100%, 50%); /* Verde (120°, 100%, 50%) */
    color: white; /* Color de texto blanco */
    padding: 20px; /* Relleno interno de 20px */
    margin-bottom: 10px; /* Espaciado inferior de 10px */
}

/* Aplica un color de fondo HLS a un div */
div.hls-box3 {
    background-color: hsl(240, 100%, 50%); /* Azul (240°, 100%, 50%) */
    color: white; /* Color de texto blanco */
    padding: 20px; /* Relleno interno de 20px */
    margin-bottom: 10px; /* Espaciado inferior de 10px */
}
