/* Uso de opacidad con RGBA */
/* Aplica un color de fondo RGBA a un div con opacidad */
div.rgba-box1 {
    background-color: rgba(255, 0, 0, 0.5); /* Rojo con 50% de opacidad */
    color: white; /* Color de texto blanco */
    padding: 20px; /* Relleno interno de 20px */
    margin-bottom: 10px; /* Espaciado inferior de 10px */
}

/* Uso de opacidad con HSLA */
/* Aplica un color de fondo HSLA a un div con opacidad */
div.hsla-box1 {
    background-color: hsla(120, 100%, 50%, 0.5); /* Verde con 50% de opacidad */
    color: white; /* Color de texto blanco */
    padding: 20px; /* Relleno interno de 20px */
    margin-bottom: 10px; /* Espaciado inferior de 10px */
}

/* Uso de opacidad con hexadecimales (RGBA en hex) */
/* Aplica un color de fondo hexadecimal con opacidad a un div */
div.hex-box1 {
    background-color: #0000ff80; /* Azul con 50% de opacidad */
    color: white; /* Color de texto blanco */
    padding: 20px; /* Relleno interno de 20px */
    margin-bottom: 10px; /* Espaciado inferior de 10px */
}
