/* Uso de colores hexadecimales */
/* Aplica un color de fondo hexadecimal a un div */
div.hex-box1 {
    background-color: #ff0000; /* Rojo (#ff0000) */
    color: white; /* Color de texto blanco */
    padding: 20px; /* Relleno interno de 20px */
    margin-bottom: 10px; /* Espaciado inferior de 10px */
}

/* Aplica un color de fondo hexadecimal a un div */
div.hex-box2 {
    background-color: #00ff00; /* Verde (#00ff00) */
    color: white; /* Color de texto blanco */
    padding: 20px; /* Relleno interno de 20px */
    margin-bottom: 10px; /* Espaciado inferior de 10px */
}

/* Aplica un color de fondo hexadecimal a un div */
div.hex-box3 {
    background-color: #0000ff; /* Azul (#0000ff) */
    color: white; /* Color de texto blanco */
    padding: 20px; /* Relleno interno de 20px */
    margin-bottom: 10px; /* Espaciado inferior de 10px */
}
