/* Uso de colores RGB con valores enteros */
/* Aplica un color de fondo RGB a un div */
div.rgb-box1 {
    background-color: rgb(255, 0, 0); /* Rojo puro (255, 0, 0) */
    color: white; /* Color de texto blanco */
    padding: 20px; /* Relleno interno de 20px */
    margin-bottom: 10px; /* Espaciado inferior de 10px */
}

/* Uso de colores RGB con valores en porcentaje */
/* Aplica un color de fondo RGB a un div */
div.rgb-box2 {
    background-color: rgb(0%, 100%, 0%); /* Verde puro (0%, 100%, 0%) */
    color: white; /* Color de texto blanco */
    padding: 20px; /* Relleno interno de 20px */
    margin-bottom: 10px; /* Espaciado inferior de 10px */
}

/* Uso de colores RGB con valores mixtos */
/* Aplica un color de fondo RGB a un div */
div.rgb-box3 {
    background-color: rgb(0%, 0%, 100%); /* Azul puro (0%, 0%, 100%) */
    color: white; /* Color de texto blanco */
    padding: 20px; /* Relleno interno de 20px */
    margin-bottom: 10px; /* Espaciado inferior de 10px */
}
