/* src/components/Footer.css */
.App-footer {
    background: linear-gradient(to bottom, #5270cb, #234ac0 50%, #0836be 50%, #0027aa);
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
  }
  
  .App-footer p {
    margin: 0;
  }
  