/* src/components/Header.css */
.App-header {
  /*background: linear-gradient(to bottom, #6dd870, #51b654 50%, #4CAF50 50%, #317a33);*/
  background: linear-gradient(to bottom, #6786e2, #234ac0 50%, #0836be 50%, #0027aa);
  padding: 1px;
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.App-header nav ul {
  list-style: none;
  padding: 0;
}

.App-header nav ul li {
  display: inline;
  margin: 0 15px;
}

.App-header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.App-header nav ul li a:hover {
  text-decoration: underline;
}
