/* src/components/TodoForm.css */
.todo-form {
    display: flex;
    justify-content: space-between;
  }
  
  .todo-form input {
    width: 75%;
    padding: 5px;
  }
  
  .todo-form button {
    padding: 5px 10px;
  }
  