body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: url("https://sweethard666.neocities.org/index/Twinkling-stars.gif");
  color: #dfdfdf;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* el navbar */
nav {
  background-color: #007bff;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
}

nav ul li a:hover {
  background-color: #0056b3;
  border-radius: 4px;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #007bff;
  font-size: 2.5em;
}

section {
  margin: 20px 0;
  padding: 15px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #ffffff;
  font-size: 1.75em;
}

p {
  font-size: 1.1em;
  line-height: 1.6;
}

/* botones*/
button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #d3d3d3;
}

ul {
  padding-left: 20px;
  list-style-type: square;
}

li {
  margin: 5px 0;
}

/* las cartitas */
.card {
  background: linear-gradient(#ffffff, #a3a3a3);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  color: #000;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card h3 {
  margin-top: 0;
}

.card p {
  margin-bottom: 15px;
}

.card h2{
  color: #333;
}

.exercise-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.exercise {
  flex-basis: 48%;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .exercise {
    flex-basis: 100%;
  }
}
