.header{
    color: #4f7396;
    text-align: center;
    font-family: "GoldenGirdle";
    font-size: 40px;
    margin-top: 0px;
    padding-top: 45px;
    margin-bottom: 10px;
    text-shadow: 0 0 2px #4f7396;
}
  