/* Estilos del botón */
button {
    background-color: darkblue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: darkred;
}

/* Animación */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

button {
    animation: bounce 2s infinite;
}
