/* Estilo para el primer hijo de un elemento padre */
li:first-child {
    color: green; /* Cambia el color del texto a verde */
}

/* Estilo para el último hijo de un elemento padre */
li:last-child {
    color: blue; /* Cambia el color del texto a azul */
}

/* Estilo para enlaces visitados */
a:visited {
    color: purple; /* Cambia el color del enlace visitado a púrpura */
}

/* Estilo para enlaces en estado hover */
a:hover {
    color: orange; /* Cambia el color del enlace cuando se pasa el ratón a naranja */
    text-decoration: underline; /* Subraya el enlace en hover */
}

/* Estilo para enlaces activos */
a:active {
    color: red; /* Cambia el color del enlace cuando está activo a rojo */
}

/* Estilo para elementos input que están enfocados */
input:focus {
    border-color: green; /* Cambia el color del borde a verde cuando el campo está enfocado */
}

/* Estilo para elementos input que están deshabilitados */
input:disabled {
    background-color: #ccc; /* Cambia el color de fondo a gris claro */
}

/* Estilo para elementos input válidos */
input:valid {
    border-color: blue; /* Cambia el color del borde a azul si el input es válido */
}

/* Estilo para elementos input no válidos */
input:invalid {
    border-color: red; /* Cambia el color del borde a rojo si el input es inválido */
}

/* Estilo para elementos input requeridos */
input:required {
    border-color: orange; /* Cambia el color del borde a naranja */
}
