/* Cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Cabecera */
header {
    background: linear-gradient(180deg, rgba(99, 102, 104, 0.9) 0%, rgba(69, 71, 71, 0.9) 50%, rgba(52, 52, 52, 0.9) 53%, rgba(0, 0, 0, 0.9) 100%);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3), inset 0px 2px 1px rgba(255, 255, 255, 0.3), inset 0px -2px 1px rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    
}

/* Lista de arriba */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Principal */
main {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

section {
    margin-bottom: 20px;
}

/* Pie de pagina */
footer {
    background: linear-gradient(180deg, rgba(99, 102, 104, 0.9) 0%, rgba(69, 71, 71, 0.9) 50%, rgba(52, 52, 52, 0.9) 53%, rgba(0, 0, 0, 0.9) 100%);
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}