* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: url('https://frutiger-aero.neocities.org/img/BG.png') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    background: linear-gradient(180deg, rgba(99, 102, 104, 0.9) 0%, rgba(69, 71, 71, 0.9) 50.52%, rgba(52, 52, 52, 0.9) 53.12%, rgba(0, 0, 0, 0.9) 100%);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3), inset 0px 2px 1px rgba(255, 255, 255, 0.3), inset 0px -2px 1px rgba(0, 0, 0, 0.4);
    color: #e1e1e1;
    padding: 1rem;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}

.contenido {
    background-color: rgba(255, 255, 255, 0.586);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3), inset 0px 2px 1px rgba(255, 255, 255, 0.3), inset 0px -2px 1px rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 10px;
}

.contenido article {
    margin-bottom: 20px;
}

aside { /* cuadro de referencias derecho */
    background-color: rgba(255, 255, 255, 0.586);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3), inset 0px 2px 1px rgba(255, 255, 255, 0.3), inset 0px -2px 1px rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 10px;
}

/* Media Queries */
@media (max-width: 900px) {
    main {
        grid-template-columns: 1fr;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    header {
        font-size: 1.2rem;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    main {
        padding: 10px;
    }

    footer {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 600px) {
    body {
        background: url("https://miro.medium.com/v2/resize:fit:1014/1*ZQpc8Tc3XFSdzIhefHvPOg.jpeg");
        background-size: cover;
        background-attachment: fixed;
    }
}