/* Reseteo básico del margen y el padding */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Estilo general del cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #b51c1c;
    color: #e11f1f;
    padding: 20px;
}

/* Estilo del encabezado */
header {
    background-color: #ff9800;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-size: 2em;
}

/* Estilo del contenido principal */
main {
    max-width: 800px;
    margin: 0 auto;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #ff9800;
}

.descripcion {
    color: #000;
    font-weight: 100;
    background-color: bisque;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Estilo del enlace */
.enlace {
    display: inline-block;
    margin-top: 20px;
    color: #d88e1e;
    text-decoration: none;
    font-weight: bold;
}

.enlace:hover {
    text-decoration: underline;
}

/* Estilo del pie de página */
footer {
    background-color: #c23939;
    color: rgb(154, 12, 12);
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}

/* imagen del viejito */
.centered-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
